{% extends 'base.html.twig' %}

{% block title %}Hello RoleController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>LLISTA DE ROLES</h1>

    <h3>EL TEU ROLE MÀXIM ÉS: {{ role_maximo }}</h3>
    <h3>INFORMACIÓ D'USERS:</h3>
    {% for key,user in array_users %}
        <li>{{ user.email }}</li>
    {% endfor %}
</div>
{% endblock %}
